In [1]:
# Primero se deberá crear la BBDD
# Librerías a importar
from pyspark.sql import SparkSession

In [2]:
# Crear la sesión de spark
spark = SparkSession  \
    .builder \
    .appName("Motrar los clientes de nuestra base de datos Librería") \
    .config('spark.driver.extraClassPath', "mysql-connector-j-8.0.32.jar") \
    .getOrCreate()

In [3]:
# Propiedades para la conexión usando spark jdbc
url = "jdbc:mysql://localhost:3306/libreria"
propiedades = {
    "driver": "com.mysql.cj.jdbc.Driver",
    "user": "root",
    "password": "tooR"
}

In [4]:
# Leemos los datos de la tabla cliente
cliente_df = spark.read.jdbc(url=url, table="cliente", properties=propiedades) # Las properties las declaramos en el bloque anterior

# Se muestra en pantalla los clientes que tenemos
cliente_df.show()

+---+---------+----------+--------------------+--------------------+
| id|   nombre|  apellido|            telefono|               email|
+---+---------+----------+--------------------+--------------------+
|  1|  Juanita|      Lind|(123) 8592-2238     |juanitalind@test.com|
|  2|   George|  Weissnat|(123) 6599-8313     |georgeweissnat@te...|
|  3|  Leilani| Langworth|(123) 3376-7786     |leilanilangworth@...|
|  4|   Reggie|   Schmitt|(123) 1886-6216     |reggieschmitt@tes...|
|  5|  Delores|    Rippin|(123) 9976-1342     |deloresrippin@tes...|
|  6|    Guido|    Rogahn|(123) 4357-9648     |guidorogahn@test.com|
|  7|  Delfina|  Schmeler|(123) 3819-7691     |delfinaschmeler@t...|
|  8|      Lon|    Conroy|(123) 9585-9496     |  lonconroy@test.com|
|  9|    Arden|    Schumm|(123) 1197-5529     |ardenschumm@test.com|
| 10|  Elliott|     Kulas|(123) 1748-9216     |elliottkulas@test...|
| 11|Cristobal|      Wiza|(123) 5681-8953     |cristobalwiza@tes...|
| 12|   Marcia|     Davis|(123) 9293-6426     |marciadavis@test.com|
| 13|    Aliya|     Marks|(123) 1893-4467     | aliyamarks@test.com|
| 14|     Milo| Schneider|(123) 3997-7463     |miloschneider@tes...|
| 15|     Shad| Bechtelar|(123) 5257-4753     |shadbechtelar@tes...|
| 16|    Frank|      Will|(123) 2384-5446     |  frankwill@test.com|
| 17|     Onie|Rutherford|(123) 7943-2934     |onierutherford@te...|
| 18|  Candice|      Hane|(123) 6413-1663     |candicehane@test.com|
| 19|   Duncan|   Leffler|(123) 2176-6559     |duncanleffler@tes...|
| 20| Christop|     Olson|(123) 8922-2453     |christopolson@tes...|
+---+---------+----------+--------------------+--------------------+
only showing top 20 rows